.nav img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar ul li i {
  font-size: 18px;
}
.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown-menu {
  border-radius: 5px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
}	
.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}